@charset "ISO-8859-1";

*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: 'Poppins', 'san-serif';
	list-style: none;
	text-decoration: none;
	scroll-behavior: smooth;
	scroll-padding-top: 3rem;
}
:root{
	--main-color: #8A00FF;
	--text-color: #fff;
	--other-color: #212121;
	--second-color: #1C1C1C;
	--bg-color: #111111;

	--big-font: 4.5rem;
	--h2-font: 2.6rem;
	--p-font: 1.1rem;
}
body{
	background: var(--bg-color);
	color: var(--text-color); 
}

header{
	position:fixed;
	width: 100%;
	top: 0;
	right: 0;
	z-index: 1000;
	display: flex;
	align-items: center;
	justify-content: space-between;
	background: transparent;
	padding: 30px 3%;
	transition: all .50s ease;	
}

.logo{
	display: flex;
	align-items: center;
	color: var(--text-color);
	font-size: 20px;
	font-weight: 700;
}

.logo img{
	vertical-align: middle;
	margin-right: 8px;
	color: var(--second-color);
	width: 100px;
	height: auto;
}

.navlist{
	display: flex;
}

.navlist a{
	color: var(--text-color);
	font-size: var(--p-font);
	font-weight: 600;
	margin: 0 30px;
	transition: all .50s ease;
}
.navlist a:hover{
	color: #8A00FF;
}
.navlist a.active{
	color: #8A00FF;
}
.nav{
	display: flex;
}

.nav a{
	color: white;
	font-size: var(--p-font);
	font-weight: 600;
	margin: 0 13px;
	transition: all .50s ease;
	align-items: center;
	padding: 8px 15px;
	background: var(--main-color);
	border-radius: 3rem;
	box-shadow: #B026FF 0px 1px 15px;
}

.nav a:hover {
    background-color: black;
    color: black;
    box-shadow: #B026FF 0px 1px 15px;
  }
  
  .nav a.active{
      background-color: var(--bg-color);
  }
  
  #menu-icon{
      font-size: 32px;
      color: black;
      z-index: 10001;
      cursor: pointer;
      padding: 8px 15px;
      display: none;
  }
  .nav a:hover{
      transform: scale(1.1);
      color: var(--text-color);
  }

  section{
	padding: 70px 14% 60px;
}

header.sticky{
	padding: 18px 6%;
	background: var(--second-color);
	color: #F1F1F2;
}

/*end of header*/


/*start footer*/
.contact-text{
	text-align: center;
	margin-bottom: 4rem;
}

.contact-text h2{
	text-align: center;
	font-size: var(--h2-font);
	margin-bottom: 10px;
	color: var(--main-color);
}

.contact-text p{
	text-align: center;
	color: white;
	font-size: var(--p-font);
	line-height: 30px;
	margin-bottom: 3rem;	
}

.social i{
	display: inline-block;
	font-size: 32px;
	color: white;
	margin: 0 20px;
	transition: all .50s ease;
}

.social .clr i{
	color: var(--main-color);
}

.social i:hover{
	color: var(--main-color);
}

/*end footer*/

.scroll{
	position: fixed;
	bottom: 2.2rem;
	border-top: 2rem;
	right: 3.2rem;
}

.scroll i{
	font-size: 22px;
	color: var(--second-color);
	background: var(--main-color);
	padding: 10px;
	border-radius: 2rem;
}

/*Dropdown*/
/* Dropdown Button */
.hi {
    cursor: pointer;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
	margin-top: 10px;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
	margin-top: 10px;
	font-size: 15px;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
    background-color: var(--bg-color);
}

/* Show the dropdown content on hover */
.dropdown:hover .dropdown-content {
    display: block;
}


.profile-text h2{
    text-align: center;
    margin-top: 20px;
    font-size: 35px;
    color: var(--bg-color);
}

.profile-text{
    font-size: 40px;
    background-color: var(--main-color);
    width: 340px;
    border-radius: 20px;
    box-shadow: #B026FF 0px 1px 15px;
    margin-bottom: 30px;
	margin-left: 55px;
}

.btn-update{
	width: 100px;
	text-align: center;
	padding: 10px;
	background-color: var(--main-color);
	color: black;
	border: none;
	border-radius: 3rem;
	margin-top: 25px;
	font-size: 15px;
	font-weight: bold;
	box-shadow: #B026FF 0px 1px 15px;
	transition: all .50s ease;
	margin-left: 300px;
}

.btn-update .btn{
	color: black;
}


.btn-update .btn:hover{
	color: white;
}

.btn-update:hover{
	background-color: black;
    color: white;
	box-shadow: #B026FF 0px 1px 15px;
}

/*Profile update*/       
form {
    max-width: 400px;
    margin: 0 auto;
}

label {
    display: block;
    margin-bottom: 10px;
}

input[type="text"],
input[type="tel"],
input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-shadow: #B026FF 0px 1px 15px;
}

.btn-update2{
	width: 100px;
	text-align: center;
	padding: 10px;
	background-color: red;
	color: black;
	border: none;
	border-radius: 3rem;
	margin-top: -43px;
	font-size: 15px;
	font-weight: bold;
	box-shadow: red 0px 1px 15px;
	transition: all .50s ease;
	margin-left: 185px;
}
.btn-update2 .btn2{
	color: black;
}

.btn-update2:hover{
	background-color:#8B0000;
	box-shadow: red 0px 1px 15px;
}
.btn-update2 .btn2:hover{
	color: white;
}

.btn-confirm button{
	width: 100px;
	text-align: center;
	padding: 10px;
	background-color: #4CBB17;
	color: black;
	border: none;
	border-radius: 3rem;
	font-size: 15px;
	font-weight: bold;
	box-shadow: #4CBB17 0px 1px 15px;
	transition: all .50s ease;
	margin-left: 300px;
}

/* Confirm button styles */
.btn-confirm button {
    background-color: #4CBB17;
    color: black;
    box-shadow: #4CBB17 0px 1px 15px;
}

.btn-confirm button:hover {
    background-color: #008000;
    box-shadow: #4CBB17 0px 1px 15px;
    color: white;
}

h3{
    color: var(--main-color);
    margin-left: -200px;
    margin-top: 1px;
    font-size: var(--p-font);
    background: var(--other-color);
    font-weight: 500;
    letter-spacing: 1px;
    border-radius: 3rem;
    box-shadow: #B026FF 0px 1px 10px;
    padding: 4px 10px;
}


.form-container {
    background-color: #212121;
    padding: 20px;
    border-radius: 20px;
    box-shadow: #B026FF 0px 1px 15px;
    margin: 20px auto;
    max-width: 500px;
	margin-top: 150px;
}

/*Dropdown*/
/* Dropdown Button */
.hi {
    cursor: pointer;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
	margin-top: 10px;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
	margin-top: 10px;
	font-size: 15px;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
    background-color: var(--bg-color);
}

/* Show the dropdown content on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/*dropdown1*/
.dropdown-content-New {
    display: none;
    position: absolute;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
	margin-top: 10px;
	background-color: white;
	border-radius: 10px;
}

/* Links inside the dropdown */
.dropdown-content-New a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
	margin-top: 10px;
	font-size: 15px;
}